# --------------------
# Python
# --------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# --------------------
# Virtual Environment
# --------------------
venv/
.env
session.json

# --------------------
# Django
# --------------------
db.sqlite3
*.log
local_settings.py

# --------------------
# Media files (videos, uploads)
# --------------------
reel/

# --------------------
# OS / Editor junk
# --------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# --------------------
# Node / Frontend (if added later)
# --------------------
node_modules/
